{% extends 'base.html' %}

{% block content %}

<h1>Teams</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Constructor</th>
        <th>Engine Supplier</th>
        <th>Chassis</th>
        <th>Engine Model</th>
        <th>Nationality</th>
        <th></th>
    </tr>
    {% for team in teams %}
        <tr>
            <td>{{ team.id }}</td>
            <td>{{ team.constructor }}</td>
            <td>{{ team.engine_supplier }}</td>
            <td>{{ team.chassis }}</td>
            <td>{{ team.engine_model }}</td>
            <td>{{ team.nationality }}</td>
            <td><button type = "submit"><a href="/teams/{{ team.id }}/edit">Edit Team</a></button></td> 
            <td>
                <div class="buttons">
                    <form class = "delete-form" action = "/teams/{{ team.id }}/delete" method = "POST">
                        <button class = "trash-button"><i class = "fa fa-trash-o fa-3x"></i>Delete Team</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<button type = "submit"><a href = "/teams/new">Add Team</a></button> 



{% endblock %}