
{% extends 'base.html' %}

{% block content %}
<div class="form_container">
    <h1>Add a Team</h1>


    <form action = "/teams" method="post" class="input_form">
        
        <div class="form_field">
            <label for = "id">Team ID</label>
            <input type = "INT" name = "id">
        </div>
        
        <div class="form_field">
            <label for = "constructor">Constructor</label>
            <input type = "text" name = "constructor">
        </div>

        <div class="form_field">
            <label for = "engine_supplier">Engine Supplier</label>
            <input type = "text" name = "engine_supplier">
        </div>

        <div class="form_field">
            <label for = "chassis">Chassis</label>
            <input type = "text" name = "chassis">
        </div>

        <div class="form_field">
            <label for = "engine_model">Engine Model</label>
            <input type = "text" name = "engine_model">
        </div>

        <div class="form_field">
            <label for = "nationality">Nationality</label>
            <input type = "text" name = "nationality">
        </div>


        <button class = "button red" type = "submit">Add Team</button>
    </form>
</div>
{% endblock %}
