{% extends 'base.html' %}

{% block content %}

<h1>Grand Prix</h1>
<table>
    <tr>
        <th>Round</th>
        <th>Name</th>
        <th>Circuit</th>
        <th>Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for grand_prix in grand_prix %}
        <tr>
            <td>{{ grand_prix.round }}</td>
            <td>{{ grand_prix.name }}</td>
            <td>{{ grand_prix.circuit }}</td>
            <td>{{ grand_prix.date }}</td>
            <td>
                <form action="grand_prix/{{ grand_prix.round }}/edit" method="get">
                    <button class = "button black" type = "submit">Edit Grand Prix</button>
                </form>
            </td> 
            <td>
                <div class="buttons">
                    <form class = "delete-form" action = "/grand_prix/{{grand_prix.round}}/delete" method = "POST">
                        <button class = "button red">Delete Grand Prix</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<form action = "/grand_prix/new" method="get" class="add_button_form">
    <button class = "button red" type = "submit">Add Grand Prix</button> 
</form>



{% endblock %}