{% extends 'base.html' %}

{% block content %}

<h1>Drivers</h1>
<table>
    <tr>
        <th>Racing Number</th>
        <th>Name</th>
        <th>Nationality</th>
        <th>Team</th>
        <th></th>
        <th></th>
    </tr>
    {% for driver in drivers %}
        <tr>
            <td>{{ driver.racing_number }}</td>
            <td>{{ driver.name }}</td>
            <td>{{ driver.nationality }}</td>
            <td>{{ driver.team.constructor }}</td>
            <td>
                <form action="/drivers/{{ driver.racing_number}}/edit" method="get">
                    <button class = "button black" type = "submit">Edit Driver</button>
                </form>
            </td> 
            <td>
                <div >
                    <form class = "delete-form" action = "/drivers/{{ driver.racing_number }}/delete" method = "POST">
                        <button class = "button red">Delete Driver</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

<form action = "/drivers/new" method="get" class="add_button_form">
    <button class = "button red" type = "submit">Add Driver</button> 
</form>




{% endblock %}