body {
    background-color: #F6F4F1;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

#header {
    background-color: #e10600;
}

#navbar {
    overflow: hidden;
    text-align: center;
}

#navbar > ul > li > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    padding: 26px 20px;
    letter-spacing: .5px;
}

#navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#navbar > ul > li > a:visited {
    color: white;
}

#navbar > ul > li:hover {
    background-color: black;
}

#content {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    align-self: center;
    max-width: 1440px;
    margin: 20px;
    background-color: #FFFFFF;
    padding: 26px;
}

table {
    border: none;
    border-spacing: 0;
    max-width: 1440px;
    overflow-x: scroll;
}

th {
    color: gray;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 11px;
    text-align: left;
    padding: 20px 0;
}

tr > td:nth-child(1) {
    padding-left: 10px;
}

td {
    padding: 20px 0;
    font-size: 13px;
    border: none;
}

tr:nth-child(even) {
    background-color: #F4F4F4;
}

.button {
    outline: none;
    border: none;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
}

.red {
    background-color: #e10600;
}

.black {
    background-color: #000000
}

.form_field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input, select {
    padding: 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: 1px solid #000000;
}

#fastest_lap {
    transform: scale(1.5);
}

label {
    font-size: 14px;
}

.input_form {
    width: 500px;
}

.form_container {
    align-self: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
    border-top-right-radius: 20px;
}

.add_button_form {
    margin-top: 20px;
}

#f1_image{
    width: 100%;
}

h2{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
    align-self: flex-end;
}